/* @font-face { 
    font-family: 'Fail';
    src:  url('font/FAIL.TTF') format('truetype');
  } */

html { 
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

header {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center; 
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
}

h1 {
    color: white;
    font-family: 'halant', serif;
    
}


h2{
    text-align: center;
    color: white;
    font-family: 'halant', serif;
    font-size: 40px;
    margin: 20px;
    margin-bottom: -5px;
}

li {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    justify-content: center;
}

p {
    max-width: 400px;
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}

table {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}

ul {
    /* list-style-type: none; */
    padding: 0;
    margin: 0;
}

ol {
    padding: 0;
    margin: 0;
}

.image {
  display: flex;
  justify-content: center;
  height: 350px;
  padding-top: 20px;
  background-color: black;
}

.button {  
    display: inline-block;
    text-decoration: none;
    border:0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: #FFFFFF; 
    text-align: center;
    /* transition: all 0,2s; */
} 
   
.button:hover {
    color: #000000;
    background-color: #FFFFFF
 }


section { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px; 
    margin: 0px;
    background-color: rgb(0, 0, 0); 
}

div {
    background-color: black;
}

article { 
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: black;
}

td {
display: flex; 
justify-content: center;
}

body {
    background-color: black;
}

div {
    display: flex;
    justify-content: space-around;
    padding: 0px; 
    margin: 0px;
    background-color: rgb(0, 0, 0); 
}


