
.roter-text {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
} 

.blauer-text {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}